/* IMPORT FONT */

@font-face
{
    font-family: 'Black';
    src: url('font/Black\ Window.ttf') format('truetype') ;
}

@font-face
{
    font-family: 'Dumbledore' ;
    src: url('font/Dumbledore.ttf') format('truetype') ;
}


/* BODY */
body {
    /* background-image: url(/img/fond-mer.jpg); */
    background-color: darkgray;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 98vh;
}

h2, p {
    font-family: 'Dumbledore';
    font-size: 3vh;
}


/* MAIN */
main {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* HEADER */

#enTete {
    display: flex;
    flex-direction: row;
}


#embleme {
    height: 9vh;
    opacity: 90%;
}

h1{
    font-family: 'Black'; 
    font-size: 8vh;
    color: #360703 ;
    margin: 0;
    margin-left: 0.3vw;
}

header {
    display: flex;
    flex-direction: column;
    margin-bottom: -3em;
    align-items: center;
}

header p {
    margin: 0;
    margin-left: 2vw;
}

/* SECTION ROLL */
#rolls {
    position: absolute;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90vw ;
    height: 85vh;
}

article {
    border: 1px solid black;
}

input {
    outline: 0;
}

h2 {
    margin: 0;
    margin-top: 1.5vh;
    font-size: 4vh;
    text-align: center;
    color: #360703 ;
}

#lancers {
    margin: 0;
    padding-top: 0.2vh;
    width: 50vw;
    height: 60vh;
    /* background-image: url(/img/font_combat.jpg);
    background-size: 100%;
    background-repeat: no-repeat; */
}

#lancer {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul {
    margin: 0;
}
li p {
    margin: 0;
    text-align: center;
}

#de1 , #de2 {
    width: 5vw;
    margin: 1vh;
}

#resultats {
    /* background-color: #AF1111; */
    height: 27.75vh;
    overflow: auto;
    border-top: 0.5px solid black ;
    border-bottom: 0.5px solid black ;
}

.score {
    border-bottom: 0.5px  solid black;
    
}
.score p {
    font-family: 'Dumbledore';
    font-size: 2.5vh;
    margin: 0;
    padding: 0;
    margin-bottom: 0.5vh;
}

#boutons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.5vh;
}

.refaire {
    width: 4vw;
}


/* ASIDE */
aside {
    width: 35vw;
    height: 60.6vh;
    margin-left: 2vw;
}

article p {
    text-align: center;
}

li {
    margin-top: 0.3vh;
    list-style: none;
}

#membres {
    margin-top: 3vh;
}

#membre {
    margin: 0;
    padding: 0;
    margin-top: 0.4vh;
    margin-bottom: 0.5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 35.8vh;
    font-family: 'Dumbledore';
    font-size: 2.5vh;
}

img {
    width: 5vw;
}


/* FOOTER */
footer {
    margin-top:88.3vh;
    position: absolute ;
    width: 87vw;
    height: 10vh;
    /* background-color: mediumslateblue; */
    border: 1px solid black;
    color: #360703
}